---
layout: layouts/base.njk
permalink: "/interests/"
title: interests
---

<h1 class="text-2xl font-bold mb-4">Interests</h1>
<p class="text-gray-600 dark:text-gray-400 mb-6">
  Things I'm passionate about. Here's a <a href="https://chrisburnell.github.io/interests-directory">directory of /interests pages</a>.
  The ones I loved enough to make my own are from <a href="https://shellsharks.com/interests" target="_blank">shellsharks</a> and 
  <a href="https://flamedfury.com/interests" target="_blank">flamed fury</a>.
</p>

<div class="space-y-8">
    <section>
        <ul class="space-y-2">
            <li>🧭<strong>The IndieWeb / Small Web / Personal websites and blogging</strong>: I code as a hobby (my computer science degree made me realize I hate coding with a deadline), and I love making this site.</li>
            <li>🔐<strong>InfoSec / Cybersecurity</strong>: With the amount of research you have to do to stay current in this field, you have to <em>really</em> love this shit to do it. I love it a little too much. I also write about it in <a href="https://404onthefloor.com">my professional portfolio</a>.</li>
            <li>🤖<strong>Technology</strong>: Here&#39;s how much I love tech: I&#39;ve wanted to go to <a href="https://ces.tech">CES</a> since I was a kid.</li>
            <li>🎧<strong>Music</strong>: I grew up with rap/hip-hop, pop, and R&amp;B, but I also have love for rock and electronic music.</li>
            <li>👽<strong>Sci-fi</strong>: Yes, the whole genre. Movies, books, tv shows, art. You name it, I love it.</li>
            <li>📚<strong>Books</strong>: I got in trouble for reading during class as a kid.</li>
            <li>🎮<strong>Gaming</strong>: I typically play games described as single-player, &quot;story-rich&quot;, &quot;choices matter&quot;, etc., but I can also be found playing rhythm games, puzzle games, and action games.</li>
            <li>✊🏾<strong>Black Culture</strong>: I love my people.</li>
            <li>🏳️‍🌈<strong>Queer Culture</strong>: Trans rights are human rights. 🏳️‍⚧️</li>
        </ul>
    </section>
</div>