---
layout: layouts/base.njk
permalink: "/now/"
title: now
---
<h1 class="text-2xl font-bold mb-6">What I'm Doin' Now</h1>

<div class="prose prose-lg dark:prose-invert max-w-none">
  <p>(This is my <a href="https://nownownow.com/about">now page</a>. You should make one too, because you should make a website.)</p>
  <h2 id="reading">Reading</h2>
  <!-- - [How To Take Smart Notes](https://www.soenkeahrens.de/en/takesmartnotes) -->
  <ul>
    <li><a href="https://www.bloomsbury.com/uk/superheavy-9781472953926/" target="_blank">Superheavy</a></li>
    <li><a href="https://jamesclear.com/atomic-habits" target="_blank">Atomic Habits</a></li>
    <li><a href="https://aliabdaal.com/feel-good-productivity/" target="_blank">Feel-Good Productivity</a></li>
    <li><a href="https://sive.rs/h" target="_blank">How to Live</a></li>
  </ul>

  <h2 id="watching">Watching</h2>
  <!-- - [Fallout S2](https://en.wikipedia.org/wiki/Fallout_season_2) {display} -->
  <!-- - [Columbo S2](https://en.wikipedia.org/wiki/Columbo_season_2) {display} -->
  <ul>
    <li><a href="https://en.wikipedia.org/wiki/Dragon_Ball_Z" target="_blank">Dragon Ball Z</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Jujutsu_Kaisen_season_3" target="_blank">Jujutsu Kaisen S3</a></li>
  </ul>

  <h2 id="making">Making</h2>
  <ul>
    <li><a href="https://zeebot.weblog.lol">This weblog</a></li>
    <li><a href="https://zeebots-garden.vercel.app target="_blank"">My digital garden</a></li>
    <li>My second brain in Capacities</li>
  </ul>

  <h2 id="enjoying">Enjoying</h2>
  <ul>
    <li>Time with my partner and cat <3</li>
  </ul>

  <h2 id="anything-else">Anything else?</h2>
  <ul>
    <li>Planning for my upcoming certification tests (Network+ and CISSP)</li>
  </ul>

  <hr>

  <p><a href="https://zeebot.omg.lol" target="_blank"><-- Back to my omg.lol page</a></p>
  <p><a href="https://zeebot.weblog.lol"><-- Back to my weblog's homepage</a></p>

  <p class="text-sm text-gray-600 dark:text-gray-400 mt-8">
    Last updated: <time datetime="2026-02-28">February 28, 2026</time>
  </p>
</div>
