---
layout: layouts/base.njk
permalink: "/verify/"
title: verify
---

<h1 class="text-2xl font-bold mb-4">Verify</h1>
<p class="text-gray-600 dark:text-gray-400 mb-6">These accounts are mine.</p>

<div class="space-y-8">
    <section>
        <h2 class="text-xl font-semibold mb-4">Active Accounts</h2>
        <ul class="space-y-2">
            <li>Fediverse: <a href="{{ site.social.mastodon }}" target="_blank">@zeebot@social.lol</a> | <a href="https://proven.lol/754dbc" target="_blank">proof</a></li>
            <li>Discord: <code>corruptedking</code></li>
            <li>omg.lol: <a href="https://zeebot.omg.lol">zeebot</a> | <a href="https://proven.lol/1aef5f">proof</a>
            <li>finger me: <code>finger zeebot@omg.lol</code></li>
            <li><a href="/">this site (weblog)</a> | <a href="https://proven.lol/3e98b5">proof</a></li>
            <li>GitHub: <a href="https://github.com/zeebot99">zeebot99</a> | <a href="https://proven.lol/e71898">proof</a></li>
            <li>Signal: <a href="{{ site.social.signal }}">zeebot.10</a></li>
            <li>SourceHut: <a href="https://sr.ht/~zeebot">zeebot</a> | <a href="https://proven.lol/a78a63">proof</a></li>
            <li>Gravatar: <a href="https://proven.lol/72162b">milkshakesweetly060a63624e</a> | <a href="https://proven.lol/72162b">proof</a></li>
            <li>Pronouns.page: <a href="https://en.pronouns.page/@zeebot">zeebot</a> | <a href="https://proven.lol/ce5c68">proof</a></li>
            <li>Codepen: <a href="https://codepen.io/typestooloud">typestooloud</a> 
        </ul>
    </section>

    <section>
        <h2 class="text-xl font-semibold mb-4">Email</h2>
        <p>I can be contacted at zeebot @ omg dot lol. Emails I send will come from zeebot10 @ proton dot me.</p>
    </section>

    <section>
        <h2 class="text-xl font-semibold mb-4">Do Not Have</h2>
        <p>If an account with my name is on these networks, it's not me.</p>
        <br>
        <ul class="space-y-2">
            <li>FaceBook</li>
            <li>Twitter</li>
            <li>Tiktok</li>
            <li>Snapchat</li>
            <li>YouTube</li>
        </ul>
    </section>

    <section>
        <h2 class="text-xl font-semibold mb-4">Domains</h2>
        <ul class="space-y-2">
            <li><strong>digital garden:</strong> <a href="https://zeebots-garden.vercel.app" target="_blank">https://zeebots-garden.vercel.app</a> | <a href="https://proven.lol/3c5380" target="_blank">proof</a></li>
            <li><strong>professional blog / portfolio:</strong> <a href="https://404onthefloor.com" target="_blank">https://404onthefloor.com</a></li>
        </ul>
    </section>
</div>

<p class="mt-8 text-sm text-gray-600 dark:text-gray-400"></p>